div {
  text-align: center;
}
h3 {
  text-align: center;
  color: rgb(40, 119, 108);
  background-color: rgba(251, 255, 196, 0.29);
  border-top: solid;
  border-top-color: #ffa702;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  color: gray;
}

h4 {
  text-align: left;
  color: red;
}

#main2 {
  border-left: solid;
}
img {
  border-radius: 6px;
}
main {
  width: 700px;
  margin-left: 20%;
  margin-right: 20%;
}
#paragrafo {
  text-align: left;
  color: black;
}

li {
  font-size: large;
}
